* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tahoma", sans-serif;
}

h1 {
  margin-top: 10px;
}

button {
  background-color: white;
  color: rgba(0, 0, 0, 0.45);
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 11px;
  font-weight: bold;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}

button:active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#rainbow-button.active {
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.7) 0%,
            rgba(0, 22, 255, 0.7) 50%, rgba(0, 255, 8, 0.7) 100%);
  color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  /* border: 1px solid white; */
  border: none;
  padding: 6px 11px;
}

#alpha-button.active {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

label {
  color: rgb(126, 126, 126);
  font-size: 11px;
  font-weight: bold;
}

#gameboard {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 402px;
  height: 402px;
  border: 1px solid rgb(190, 190, 190);
  background-color: white;
  box-shadow: 1px 1px 3px rgb(190, 190, 190);
  margin-bottom: 10px;
  cursor: crosshair;
}

.gameboard-pixel {
  background-color: white;
}

#buttons-container {
  width: 402px;
  align-items: center;
  gap: 10px;
  margin-bottom: 7px;
}

#slider-container {
  width: 402px;
  align-items: center;
  gap: 5px;
}

#color-picker {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 30px;
  /* margin-left: auto; */
}

#github-link {
  margin-left: auto;
}