* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#gameboard {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 642px;
  height: 642px;
  border: 1px solid black;
  background-color: white;
}

.gameboard-pixel {
  background-color: white;
  opacity: 1;
}